[Unit]
Description="%p Service"
After=network-online.target
Wants=network-online.target
After=docker.service
Requires=docker.service
ConditionPathExists={{NOVPN_RUNTIME_ENV}}

[Service]
TimeoutStartSec=0
EnvironmentFile={{NOVPN_RUNTIME_ENV}}
ExecStartPre=/usr/bin/bash -c "docker network ls --format '{{.Name}}' | grep -q {{NETWORK}}"
ExecStart=/usr/bin/docker run \
    --rm --name=%p \
    --network={{NETWORK}} \
    --dns=1.1.1.1 --ip=${NOVPN_HOMEBRIDGE_DOCKER} \
    --volume {{HOMEBRIDGE}}:/homebridge \
    homebridge/homebridge:latest
ExecStop=/usr/bin/docker kill -s INT %p
SuccessExitStatus=111
Restart=on-failure
RestartSec=5
